<style type='text/css'>
    .box_ekleme {display: none;}
    .box_duzenleme {display: none;}
</style>
<script type='text/javascript'>
    $(document).ready(function() {
        $('.tik_ekleme').click(function() {
            $(".box_listeleme").hide();
            $(".box_duzenleme").hide();
            $(".box_ekleme").show();
        });

        $('.tik_duzenleme').click(function() {
            $(".box_listeleme").hide();
            $(".box_duzenleme").show();
            $(".box_ekleme").hide();
        });

        $('.tik_iptal').click(function() {
            $(".box_listeleme").show();
            $(".box_duzenleme").hide();
            $(".box_ekleme").hide();
        });

    });

</script>

<div class="row">

    <!-- Sol Kisim -->
    <div class="col-sm-8">

        <div class="page-header"><a href="#" class="btn btn-success btn-lg tik_ekleme"><i class="glyphicon glyphicon-plus"></i> Yeni Ekle</a>
        </div>

        <!-- Ekleme -->
        <div class="box_ekleme">
            <form class="form-horizontal" role="form">

                <div class="form-group"><label class="col-sm-3 control-label">Başlık</label>
                    <div class="col-sm-9"><input type="text" class="form-control"></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Açıklama</label>
                    <div class="col-sm-9"><textarea class="textarea form-control" style="height: 300px"></textarea></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Durum</label>
                    <div class="col-sm-9">
                        <div class="radio-inline">
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>Aktif</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="0">Pasif</label>
                        </div>
                    </div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Fotoğraf</label>
                    <div class="col-sm-9"><img src="../files/resim.png"></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Fotoğraf Yükle</label>
                    <div class="col-sm-9"><input class="form-control" type="file" value="Choose Image"></div></div>


                <script>
                    $('.textarea').wysihtml5();
                </script>

                <div class="form-group"><div class="col-sm-3"></div>
                    <div class="col-sm-2"><button type="button" class="btn btn-primary btn-lg">KAYDET</button></div>
                    <div class="col-sm-4"><button type="button" class="btn btn-danger btn-lg tik_iptal">İPTAL</button></div>
                </div>

            </form>
        </div>
        <!-- Ekleme -->

        <!-- Duzenle -->
        <div class="box_duzenleme">
            <form class="form-horizontal" role="form">

                <div class="form-group"><label class="col-sm-3 control-label">Başlık</label>
                    <div class="col-sm-9"><input type="text" class="form-control" value="2010 Model Fiat Albea 1.4 Dizel"></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Açıklama</label>
                    <div class="col-sm-9"><textarea class="textareaduzenle form-control" style="height: 300px">Deneme</textarea></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Durum</label>
                    <div class="col-sm-9">
                        <div class="radio-inline">
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>Aktif</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="0">Pasif</label>
                        </div>
                    </div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Fotoğraf</label>
                    <div class="col-sm-9"><img src="../files/resim.png"></div></div>

                <div class="form-group"><label class="col-sm-3 control-label">Fotoğraf Yükle</label>
                    <div class="col-sm-9"><input class="form-control" type="file" value="Choose Image"></div></div>


                <script>
                    $('.textareaduzenle').wysihtml5();
                </script>

                <div class="form-group"><div class="col-sm-3"></div>
                    <div class="col-sm-2"><button type="button" class="btn btn-primary btn-lg">KAYDET</button></div>
                    <div class="col-sm-4"><button type="button" class="btn btn-danger btn-lg tik_iptal">İPTAL</button></div>
                </div>





            </form>
        </div>
        <!-- Duzenle -->

        <!-- Listeleme -->
        <div class="box_listeleme">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Durum</th>
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#" class="tik_duzenleme">2010 Model Fiat Albea 1.4 Dizel</a></td>
                        <td><span class="label label-success">Aktif</span></td>
                        <td>
                            <a href="#" class="btn btn-primary btn-xs tik_duzenleme"><i class="glyphicon glyphicon-pencil"></i> Düzenle</a>           
                            <a href="" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> Sil</a>           
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="tik_duzenleme">2010 Model Fiat Albea 1.4 Dizel</a></td>
                        <td><span class="label label-default">Pasif</span></td>
                        <td>
                            <a href="#" class="btn btn-primary btn-xs tik_duzenleme"><i class="glyphicon glyphicon-pencil"></i> Düzenle</a>           
                            <a href="" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i> Sil</a>           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Listeleme -->

    </div>
    <!-- Sol Kisim -->

    <!-- Sag Kisim -->
    <div class="col-sm-4">

        <div class="list-group" id="myList">
            <li class="list-group-item active">Menü</li>
            <a class="list-group-item" href="">Tüm Liste</a>
            <a class="list-group-item tik_ekleme" href="#">Yeni Ekle</a>
        </div>

    </div>
    <!-- Sag Kisim -->

</div>