<div class="row">
    <!-- Sol Kisim -->
    <div class="col-sm-8">

        <form class="form-horizontal" name="submit_form" role="form" method="post" action="">

            <div class="alert alert-info">Tema Ayarları</div>

            <div class="form-group"><label class="col-sm-3 control-label">Tema</label>
                <div class="col-sm-9"><select class="form-control">
                        <?php
                        foreach($this->temalar as $tema){
                            echo '<option value="' . $tema['id'] . '">' . $tema['tema_adi'] . '</option>';
                        }
                        ?>
                    </select>
                </div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Arka Plan Resmi</label>
                <div class="col-sm-9"><img src="..<?php echo $this->data['arkaplan_resmi']; ?>"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Arka Plan Yükle</label>
                <div class="col-sm-9"><input class="form-control" type="file" value="Choose Image"></div></div>

            <div class="alert alert-info">Site Ayarları</div>

            <div class="form-group"><label class="col-sm-3 control-label">Site Başlık</label>
                <div class="col-sm-9"><input type="text" class="form-control" name="site_baslik" value="<?php echo $this->data['site_baslik']; ?>"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Site Açıklama</label>
                <div class="col-sm-9"><input type="text" class="form-control" name="site_aciklama" value="<?php echo $this->data['site_aciklama']; ?>"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Site Keywords</label>
                <div class="col-sm-9"><input type="text" class="form-control" name="site_keywords" value="<?php echo $this->data['site_keywords']; ?>"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Copyright Yazısı</label>
                <div class="col-sm-9"><input type="text" class="form-control" name="copyright_yazisi" value="<?php echo $this->data['copyright_yazisi']; ?>"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Analytics Kodu</label>
                <div class="col-sm-9"><input type="text" class="form-control" name="analytics_kodu" value="<?php echo $this->data['analytics_kodu']; ?>"></div></div>

            <div class="alert alert-info">Logo Ayarları</div>

            <div class="form-group"><label class="col-sm-3 control-label">Logo</label>
                <div class="col-sm-9"><img src="..<?php echo $this->data['logo']; ?>"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Logo Yükle</label>
                <div class="col-sm-9"><input class="form-control" type="file" value="Choose Image"></div></div>

            <div class="alert alert-info">Blok Ayarları</div>

            <div class="form-group"><label class="col-sm-3 control-label">Sağ Alan</label>
                <div class="col-sm-9"><textarea class="textarea form-control" name="sag_alan" style="height: 200px"><?php echo $this->data['sag_alan']; ?></textarea></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Orta Alan</label>
                <div class="col-sm-9"><textarea class="textarea form-control" name="orta_alan" style="height: 200px"><?php echo $this->data['orta_alan']; ?></textarea></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Logo Yanı</label>
                <div class="col-sm-9"><textarea class="textarea form-control" name="logo_yani" style="height: 200px"><?php echo $this->data['logo_yani']; ?></textarea></div></div>

            <div class="alert alert-info">Modüller</div>

            <div class="form-group"><label class="col-sm-3 control-label">Döviz Kuru</label>
                <div class="col-sm-9">
                    <div class="radio-inline">
                        <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="1" <?php if($this->data['doviz_kuru'] == 1) echo 'checked'; ?>>Aktif</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="0" <?php if($this->data['doviz_kuru'] == 0) echo 'checked'; ?>>Pasif</label>
                    </div>
                </div></div>

            <script>
                $('.textarea').wysihtml5();
            </script>

            <div class="form-group"><div class="col-sm-3"></div>
                <div class="col-sm-9"><input type="submit" name="submit_form" class="btn btn-primary btn-lg" value="Kaydet"></div></div>





        </form>

    </div>
    <!-- Sol Kisim -->

    <!-- Sag Kisim -->
    <div class="col-sm-4">

        <div class="list-group" id="myList">
            <li class="list-group-item active">Menü</li>
            <a class="list-group-item" href="">Site Ayarları</a>
        </div>

    </div>
    <!-- Sag Kisim -->

</div>