<div class="row">

    <!-- Sol Kisim -->
    <div class="col-sm-8">

        <form class="form-horizontal" role="form">

            <div class="alert alert-info">İletişim Bilgileri</div>

            <div class="form-group"><label class="col-sm-3 control-label">İletişim</label>
                <div class="col-sm-9"><textarea class="textarea form-control" style="height: 300px"></textarea></div></div>

            <div class="alert alert-info">Sosyal Medya</div>

            <div class="form-group"><label class="col-sm-3 control-label">Facebook</label>
                <div class="col-sm-9"><input type="text" class="form-control"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Twitter</label>
                <div class="col-sm-9"><input type="text" class="form-control"></div></div>

            <div class="form-group"><label class="col-sm-3 control-label">Google Plus</label>
                <div class="col-sm-9"><input type="text" class="form-control"></div></div>

            <div class="alert alert-info">Google Harita</div>

            <div class="form-group"><label class="col-sm-3 control-label">Yer Seç</label>
                <div class="col-sm-9">

                    <input type="hidden" id="koordinat" value="41.02368629243258, 28.97718071937561" />
                    <div id="map_canvas" style="width:100%; height:400px"></div>

                    <script type="text/javascript">
                        window.onload = function() {
                            initialize();
                        }
                    </script> 

                    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>

                    <script type="text/javascript">
                         //<![CDATA[

                         // global "map" variable
                         var map = null;
                         var marker = null;

                         // popup window for pin, if in use
                         var infowindow = new google.maps.InfoWindow({
                             size: new google.maps.Size(150, 50)
                         });

                         // A function to create the marker and set up the event window function 
                         function createMarker(latlng, name, html) {

                             var contentString = html;

                             var marker = new google.maps.Marker({
                                 position: latlng,
                                 map: map,
                                 zIndex: Math.round(latlng.lat() * -100000) << 5
                             });

                             google.maps.event.addListener(marker, 'click', function() {
                                 infowindow.setContent(contentString);
                                 infowindow.open(map, marker);
                             });

                             google.maps.event.trigger(marker, 'click');
                             return marker;

                         }

                         function initialize() {

                             // the location of the initial pin
                             var myLatlng = new google.maps.LatLng(41.02368629243258, 28.97718071937561);

                             // create the map
                             var myOptions = {
                                 zoom: 14,
                                 center: myLatlng,
                                 mapTypeControl: true,
                                 mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                                 navigationControl: true,
                                 mapTypeId: google.maps.MapTypeId.ROADMAP
                             }

                             map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

                             // establish the initial marker/pin
                             var image = 'assets/image/map.png';
                             marker = new google.maps.Marker({
                                 position: myLatlng,
                                 map: map,
                                 icon: image,
                                 title: "Property Location"
                             });

                             // establish the initial div form fields
                             formlat = document.getElementById("koordinat").value = myLatlng.lat();
                             formlng = document.getElementById("koordinat").value += ", " + myLatlng.lng();

                             // close popup window
                             google.maps.event.addListener(map, 'click', function() {
                                 infowindow.close();
                             });

                             // removing old markers/pins
                             google.maps.event.addListener(map, 'click', function(event) {
                                 //call function to create marker
                                 if (marker) {
                                     marker.setMap(null);
                                     marker = null;
                                 }

                                 // Information for popup window if you so chose to have one
                                 /*
                                  marker = createMarker(event.latLng, "name", "<b>Location</b><br>"+event.latLng);
                                  */

                                 var image = 'assets/image/map.png';
                                 var myLatLng = event.latLng;
                                 /*  
                                  var marker = new google.maps.Marker({
                                  by removing the 'var' subsquent pin placement removes the old pin icon
                                  */
                                 marker = new google.maps.Marker({
                                     position: myLatLng,
                                     map: map,
                                     icon: image,
                                     title: "Property Location"
                                 });

                                 // populate the form fields with lat & lng 
                                 formlat = document.getElementById("koordinat").value = event.latLng.lat();
                                 formlng = document.getElementById("koordinat").value += ", " + event.latLng.lng();

                             });

                         }
                         //]]>

                    </script> 

                </div>
            </div>

            <div class="form-group"><label class="col-sm-3 control-label">Harita</label>
                <div class="col-sm-9">
                    <div class="radio-inline">
                        <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked>Aktif</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="0">Pasif</label>
                    </div>
                </div></div>



            <script>
                $('.textarea').wysihtml5();
            </script>

            <div class="form-group"><div class="col-sm-3"></div>
                <div class="col-sm-9"><button type="button" class="btn btn-primary btn-lg">KAYDET</button></div></div>





        </form>

    </div>
    <!-- Sol Kisim -->

    <!-- Sag Kisim -->
    <div class="col-sm-4">

        <div class="list-group" id="myList">
            <li class="list-group-item active">Menü</li>
            <a class="list-group-item" href="">İletişim</a>
        </div>

    </div>
    <!-- Sag Kisim -->

</div>