<div class="row">

    <!-- Sol Kisim -->
    <div class="col-sm-8">

        <form class="form-horizontal" role="form">

            <div class="form-group"><label class="col-sm-3 control-label">Sık Sorulan Sorular</label>
                <div class="col-sm-9"><textarea class="textarea form-control" style="height: 400px"></textarea></div></div>


            <script>
                $('.textarea').wysihtml5();
            </script>

            <div class="form-group"><div class="col-sm-3"></div>
                <div class="col-sm-9"><button type="button" class="btn btn-primary btn-lg">KAYDET</button></div></div>





        </form>

    </div>
    <!-- Sol Kisim -->

    <!-- Sag Kisim -->
    <div class="col-sm-4">

        <div class="list-group" id="myList">
            <li class="list-group-item active">Menü</li>
            <a class="list-group-item" href="">SSS</a>
        </div>

    </div>
    <!-- Sag Kisim -->

</div>