<section id="contact">
<!-- Message -->
<mark id="message"></mark>

<!-- Form -->
<form id="contactform">
<fieldset>
<div><label>Araç Seçiniz</label><select name=""><option value="">Seçiniz</option></select></div>
<div><label>Alış Yeri</label><select name=""><option value="">Seçiniz</option></select></div>
<div><label>Alış Tarihi</label><select name=""><option value="">Seçiniz</option></select></div>
<div><label>İade Yeri</label><select name=""><option value="">Seçiniz</option></select></div>
<div><label>İade Tarihi</label><select name=""><option value="">Seçiniz</option></select></div>
</fieldset>

<div class="sagayasla"><button type="submit" class="button submit color"> <i class="fa fa-search"></i> Rezervasyon Yap</button></div>
</form>
</section>