<div id="content">

<!-- Bread -->
<div class="container floated">

	<div class="sixteen floated page-title">

		<h2>Araçlarımız</h2>

		<nav id="breadcrumbs">
			<ul>
				<li>Buradasınız:</li>
				<li><a href="index.html">Anasayfa</a></li>
				<li>Araçlarımız</li>
			</ul>
		</nav>

	</div>

</div>
<!-- Bread / End -->

<!-- Icerik / Start  -->
<div class="container floated">

<!-- ORTA -->
<div class="eleven floated">

<!-- Liste -->
    <?php
    for($i = 0; $i < $this->dataSayisi; $i++){
    ?>
    
    <article class="post medium">
    <div class="medium-image">
    <figure class="post-img picture">
    <a href="arac-detay.html"><img src="/images/blog-01-medium.jpg" alt="" /></a>
    </figure>
    </div>
    <div class="medium-content">
    <header class="meta">
    <h2><a href="arac-detay.html" class="selected"><?php echo $this->data[$i]['baslik'];?></a></h2>
    </header>
    <p><?php echo $this->data[$i]['aciklama'];?></p>
    <a href="arac-detay.html" class="button color">Detay</a>
    </div>
    </article>
    <!-- Divider -->
    <div class="line"></div>
    
    <?php } ?>
    <!-- Liste -->
    

		<!-- Pagination -->
		<nav class="pagination">
			<ul>
				<li><a href="#">Önceki</a></li>
				<?php
                                for($i = 1; $i <= $this->sayfaSayisi+1; $i++){
                                    if($this->currentPage == $i){
                                        echo '<li><a class="current">' . $i . '</a></li>';
                                    }else{
                                ?>
                                <li><a href="/araclarimiz/<?php echo $i; ?>"><?php echo $i;}} ?></a></li>
                                <li><a href="/araclarimiz/<?php echo $this->currentPage+1; ?>">Sonraki</a></li>
			</ul>
			<div class="clearfix"></div>
		</nav>

</div>
<!-- ORTA -->

<!-- SAG -->
<div class="four floated sidebar right">
<aside class="sidebar">


<?php echo $this->helper->aracrezervasyon; ?>
<div class="bosluk"></div>

<div class="line"></div>
<div class="bosluk"></div>
<div class="bosluk"></div>

<h2 class="selected">Döviz Kuru</h2>



yazıı 

</aside>
</div>
<!-- SAG -->

</div>
<!-- Icerik / End -->

</div>