<div id="content">

<!-- Bread -->
<div class="container floated">

	<div class="sixteen floated page-title">

		<h2>Hakkımızda</h2>

		<nav id="breadcrumbs">
			<ul>
				<li>Buradasınız:</li>
				<li><a href="/">Anasayfa</a></li>
				<li>Hakkımızda</li>
			</ul>
		</nav>

	</div>

</div>
<!-- Bread / End -->

<!-- Icerik / Start  -->
<div class="container floated">

<!-- ORTA -->
<div class="eleven floated">

<div class="page-content">
 roin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec scelerisque lorem mattis lore Aliquam at erat in purus aliquet mollis. Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc magna nisi. 
 </div>  

</div>
<!-- ORTA -->

<!-- SAG -->
<div class="four floated sidebar right">
<aside class="sidebar">
<?php echo $this->helper->aracrezervasyon; ?>
<div class="bosluk"></div>

<div class="line"></div>
<div class="bosluk"></div>
<div class="bosluk"></div>

<h2 class="selected">Döviz Kuru</h2>



yazıı 

</aside>
</div>
<!-- SAG -->

</div>
<!-- Icerik / End -->

</div>