<div id="content">

<!-- Bread -->
<div class="container floated">

	<div class="sixteen floated page-title">

		<h2>İletişim</h2>

		<nav id="breadcrumbs">
			<ul>
				<li>Buradasınız:</li>
				<li><a href="index.html">Anasayfa</a></li>
				<li>İletişim</li>
			</ul>
		</nav>

	</div>

</div>
<!-- Bread / End -->

<!-- Icerik / Start  -->
<div class="container floated">

<!-- ORTA -->
<div class="eleven floated">

<div class="page-content">

<h3 class="margin selected">İletişim Bilgileri</h3>
<p class="margin">The simple contact form below comes packed within this theme. This HTML5 & AJAX contact form utilises cutting edge HMTL5 code and jQuery animations to make your contact page elegant and ultra-usable.</p>


<h3 class="margin selected">İletişim Formu</h3>

<!-- Contact Form -->
<section id="contact">

    <!-- Success Message -->
    <mark id="message"></mark>

    <!-- Form -->
    <form method="post" action="" name="contactform" id="contactform">

        <fieldset>

            <div>
                <label for="name" accesskey="A">Adınız: <span>*</span></label>
                <input name="name" type="text" id="adiniz" />
            </div>

            <div>
                <label for="email" accesskey="E">E-mail: <span>*</span></label>
                <input name="email" type="email" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" />
            </div>
            
            <div>
                <label for="name" accesskey="T">Telefon:</label>
                <input name="name" type="text" id="telefon" />
            </div>

            <div>
                <label for="comments" accesskey="M">Mesaj: <span>*</span></label>
                <textarea name="mesaj" cols="40" rows="3" id="mesaj" spellcheck="true"></textarea>
            </div>

        </fieldset>

        <input type="submit" class="submit" id="submit" value="Gönder" />
        <div class="clearfix"></div>

    </form>

</section>
<!-- Contact Form / End -->

<h3 class="margin selected">Google Harita</h3>
<!-- Google Maps -->
<section class="google-map-container">

    <div id="googlemaps" class="google-map google-map-full" style="height:300px;"></div>

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="scripts/jquery.gmap.min.js"></script>

    <script type="text/javascript">
    jQuery('#googlemaps').gMap({ 
        maptype: 'ROADMAP',
        scrollwheel: false,
		zoom: 12,
        markers: [
            {
            latitude: 47.58969,
			longitude: 9.473413,
			html: '',
			popup: false,
            }
        ],
    });
	
    </script>
</section>
<!-- Google Maps / End -->



 </div>  

</div>
<!-- ORTA -->

<!-- SAG -->
<div class="four floated sidebar right">
<aside class="sidebar">
<?php echo $this->helper->aracrezervasyon; ?>
<div class="bosluk"></div>

<div class="line"></div>
<div class="bosluk"></div>
<div class="bosluk"></div>

<h2 class="selected">Döviz Kuru</h2>



yazıı 

</aside>
</div>
<!-- SAG -->

</div>
<!-- Icerik / End -->

</div>