<div id="content">

<!-- FlexSlider  -->
<section class="flexslider home">
	<ul class="slides">
		<li><img src="/images/slide-03.jpg" alt="" />
			<article class="slide-caption">
				<h3>Opsiyonel Başlık</h3>
				<p>Opsiyonel Açıklama</p>
			</article>
		</li>
		<li><img src="/images/slide-04.jpg" alt="" /></li>
		<li><img src="/images/slide-05.jpg" alt="" /></li>
	</ul>
</section>
<!-- FlexSlider / End -->


<!-- Icerik / Start  -->
<div class="container floated">

<!-- ORTA -->
<div class="eleven floated">

    <!-- Liste -->
    <article class="post medium">
    <div class="medium-image">
    <figure class="post-img picture">
    <a href="arac-detay.html"><img src="/images/blog-01-medium.jpg" alt="" /></a>
    </figure>
    </div>
    <div class="medium-content">
    <header class="meta">
    <h2><a href="arac-detay.html" class="selected">Porsche Cayenne Dizel</a></h2>
    </header>
    <p>Maecenas dolor est, interdum a euismod eu, lorem accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, euismod quis, sollicitudin suspendisse dignissim bibendum.</p>
    <a href="arac-detay.html" class="button color">Detay</a>
    </div>
    </article>
    <!-- Divider -->
    <div class="line"></div>
    <!-- Liste -->
    
        <!-- Liste -->
    <article class="post medium">
    <div class="medium-image">
    <figure class="post-img picture">
    <a href="arac-detay.html"><img src="/images/blog-01-medium.jpg" alt="" /></a>
    </figure>
    </div>
    <div class="medium-content">
    <header class="meta">
    <h2><a href="arac-detay.html" class="selected">Porsche Cayenne Dizel</a></h2>
    </header>
    <p>Maecenas dolor est, interdum a euismod eu, lorem accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, euismod quis, sollicitudin suspendisse dignissim bibendum.</p>
    <a href="arac-detay.html" class="button color">Detay</a>
    </div>
    </article>
    <!-- Divider -->
    <div class="line"></div>
    <!-- Liste -->
    
        <!-- Liste -->
    <article class="post medium">
    <div class="medium-image">
    <figure class="post-img picture">
    <a href="arac-detay.html"><img src="/images/blog-01-medium.jpg" alt="" /></a>
    </figure>
    </div>
    <div class="medium-content">
    <header class="meta">
    <h2><a href="arac-detay.html" class="selected">Porsche Cayenne Dizel</a></h2>
    </header>
    <p>Maecenas dolor est, interdum a euismod eu, lorem accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, euismod quis, sollicitudin suspendisse dignissim bibendum.</p>
    <a href="arac-detay.html" class="button color">Detay</a>
    </div>
    </article>
    <!-- Divider -->
    <div class="line"></div>
    <!-- Liste -->
    
        <!-- Liste -->
    <article class="post medium">
    <div class="medium-image">
    <figure class="post-img picture">
    <a href="arac-detay.html"><img src="/images/blog-01-medium.jpg" alt="" /></a>
    </figure>
    </div>
    <div class="medium-content">
    <header class="meta">
    <h2><a href="arac-detay.html" class="selected">Porsche Cayenne Dizel</a></h2>
    </header>
    <p>Maecenas dolor est, interdum a euismod eu, lorem accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, euismod quis, sollicitudin suspendisse dignissim bibendum.</p>
    <a href="arac-detay.html" class="button color">Detay</a>
    </div>
    </article>
    <!-- Divider -->
    <div class="line"></div>
    <!-- Liste -->
    
        <!-- Liste -->
    <article class="post medium">
    <div class="medium-image">
    <figure class="post-img picture">
    <a href="arac-detay.html"><img src="/images/blog-01-medium.jpg" alt="" /></a>
    </figure>
    </div>
    <div class="medium-content">
    <header class="meta">
    <h2><a href="arac-detay.html" class="selected">Porsche Cayenne Dizel</a></h2>
    </header>
    <p>Maecenas dolor est, interdum a euismod eu, lorem accumsan posuere nisl. Nam sed iaculis massa. Sed nisl lectus, euismod quis, sollicitudin suspendisse dignissim bibendum.</p>
    <a href="arac-detay.html" class="button color">Detay</a>
    </div>
    </article>
    <!-- Divider -->
    <div class="line"></div>
    <!-- Liste -->
    <div class="bosluk"></div>
    <a href="/araclarimiz" class="button color sagayasla"><i class="fa fa-arrow-right"></i> Tümünü Göster</a>
    <div class="bosluk"></div>

</div>
<!-- ORTA -->

<!-- SAG -->
<div class="four floated sidebar right">
<aside class="sidebar">
<?php echo $this->helper->aracrezervasyon; ?>
<div class="bosluk"></div>

<div class="line"></div>
<div class="bosluk"></div>
<div class="bosluk"></div>

<h2 class="selected">Döviz Kuru</h2>



yazıı 

</aside>
</div>
<!-- SAG -->

</div>
<!-- Icerik / End -->

</div>